{% extends 'AirSimSocialNetworkBundle:blue/Layouts:inner.html.twig' %}

{% block pageStylesheets %}
    <link href = "{{ asset('assets/css/blue/contacts.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
{% endblock pageStylesheets %}

{% block pageJavaScripts %}
{% endblock pageJavaScripts %}

{% block pageContent %}
    <div class = "contacts_wrapper">
        <nav class = "tabs_nav contacts_nav">
            <ul>
                <a href = "./friends">
                    <li>Friends</li>
                </a>
                <a href = "./add">
                    <li class = "active">Add contact</li>
                </a>
                <a href = "./updates">
                    <li>Updates</li>
                </a>
            </ul>
            <div class = "clear"></div>
        </nav>
        <div class = "add_contacts_content">
            <div class = "align_middle">
                <div class = "contacts_content">
                    <div class = "right">
                        <input type = "text" id = "search_contact_text" placeholder = "Name, family"/><input type = "button" id = "search_contact" value = "Search"/>
                    </div><div class = "clear"></div>
                    <div class = "contacts_block_wrap">
                    </div>
                </div>
                <div class = "search_criterias">
                    <div class = "category">Gender:</div><br/>
                    <input type = "radio" name = "gender" id = "male" value = "M"/>
                    <label for = "male"><span></span>Male</label><br/>

                    <input type = "radio" name = "gender" id = "female" value = "F"/>
                    <label for = "female"><span></span>Female</label><br/>

                    <input type = "radio" name = "gender" id = "undefined" value = "U"/>
                    <label for = "undefined"><span></span>Undefined</label><br/>

                    <input type = "radio" name = "gender" id = "any" value = "A" checked/>
                    <label for = "any"><span></span>Any</label><br/><br/>

                    <div class = "category">Contact data:</div><br/>
                    <label for = "phone_number">Phone number:</label>
                    <input type = "text" name = "phone_number" id = "phone_number"/><br/>
                    <label for = "country">Country:</label>
                    <select name = "country" id = "country">
                        <option value = "0">Select country ...</option>
                        <option value = "1">Estonia</option>
                    </select><br/>
                    <label for = "city">City:</label>
                    <select name = "city" id = "city">
                        <option value = "0">Select city ...</option>
                        <option value = "1">Tallinn</option>
                    </select><br/><br/>

                    <div class = "category">Age:</div><br/>
                    <div class = "right">
                        <label for = "age_from" class = "age_label">From</label>
                        <input type = "text" class = "age_input" name = "age_from" id = "age_from"/>
                        <label for = "age_to" class = "age_label">To</label>
                        <input type = "text" class = "age_input" name = "age_to" id = "age_to"/>
                    </div>
                </div><div class = "clear"></div>
            </div>
        </div>
    </div>
{% endblock pageContent %}
