@media screen and (max-width:1920px)
{
    label
    {
        display: inline-block;
        width: 110px;
        margin-left: 15px;
        text-align: left;
    }
    .required
    {
        color: red;
    }
    input:-webkit-autofill
    {
        -webkit-box-shadow:0 0 0 50px white inset;
        -webkit-text-fill-color: black;
    }
    input[type = "text"], input[type = "password"]
    {
        height: auto;
        height: 30px;
        width: 150px;
        margin-top: 5px;
        padding-left: 10px;
        border: 1px solid #DDD;
    }
    input[type = "text"]:focus, input[type = "password"]:focus
    {
        border: 1px solid #27a9ff;
        outline: none;
    }
    input:focus::-webkit-input-placeholder { color: transparent; }
    input:focus:-moz-placeholder { color: transparent; }
    input:focus::-moz-placeholder { color: transparent; }
    input:focus:-ms-input-placeholder { color: transparent; }

    textarea
    {
        width: 100%;
        min-height: 15px;
        max-height: 300px;
        resize: none;
        padding: 10px;
        outline: none;
        border: 1px solid #ededed;
        font-family: Helvetica;
        font-size: 0.9em;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;

        transition: height .2s ease 0s;
    }
    textarea:focus
    {
        border: 1px solid #27a9ff;
        outline: none;
        background-color: #fdfdfd;
    }
    textarea:focus::-webkit-input-placeholder { color: transparent; }
    textarea:focus:-moz-placeholder { color: transparent; }
    textarea:focus::-moz-placeholder { color: transparent; }
    textarea:focus:-ms-input-placeholder { color: transparent; }

    input[type = "button"]
    {
        /*width: auto;*/
        /*min-width: 100px;*/
        width: 100px;
        margin: 10px 10px 10px 10px;
        padding: 10px;
        background-color: #27a9ff;
        font-family: Helvetica;
        font-weight: bold;
        color: white;
        border: 0px;
        cursor: pointer;

        transition: background-color .2s;
    }
    input[type = "button"]:hover
    {
        background-color: rgba(39, 169, 255, 0.51);
    }
    input[type = "button"]:focus
    {
        outline: none;
    }

    input[type="checkbox"]
    {
        display: none;
        float: left;
    }
    input[type="checkbox"] + label
    {
        padding: 15px 0 0 0;
        line-height: 23px;
        width: auto;
    }
    input[type="checkbox"] + label span
    {
        display: inline-block;
        float: right;
        width: 18px;
        height: 18px;
        margin-left: 15px;
        background: url('../../../../images/themes/blue/input_checkbox_unchecked.png') no-repeat center;
        background-size: contain;
        cursor: pointer;
    }
    input[type="checkbox"]:checked + label span
    {
        background: url('../../../../images/themes/blue/input_checkbox_checked.png') no-repeat center;
        background-size: contain;
        cursor: pointer;
    }

    input[type="checkbox"].toolbar_checkbox
    {
        float: right;
    }
    input[type="checkbox"].toolbar_checkbox + label
    {
        padding: 0;
        line-height: 20px;
        float: right;
        margin: 0;
        display: none;
        opacity: 0.5;
    }
    input[type="checkbox"].toolbar_checkbox + label:hover
    {
        opacity: 1;
    }
    input[type="checkbox"].toolbar_checkbox + label span
    {
        width: 15px;
        height: 15px;
        margin: 7px 5px 0 0;
    }

    input[type="button"].edit_button, input[type="button"].delete_button
    {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 0;
        margin: 5px 5px 0 0;
        float: right;
        display: none;
        opacity: 0.5;
    }
    input[type="button"].edit_button.small, input[type="button"].delete_button.small
    {
        width: 18px;
        height: 18px;
        margin: 5px 1px 0 0;
        padding: 5px;
    }
    input[type="button"].edit_button:hover, input[type="button"].delete_button:hover
    {
        opacity: 1;
    }
    input[type="button"].edit_button
    {
        background: url('../../../../images/themes/blue/edit_button.png') no-repeat center;
        background-size: contain;
    }
    input[type="button"].delete_button
    {
        background: url('../../../../images/themes/blue/delete_button.png') no-repeat center;
        background-size: contain;
    }

    input[type="radio"]
    {
        display: none;
    }
    input[type="radio"] + label
    {
        padding: 10px 0 0 0;
        line-height: 20px;
        width: auto;
        min-width: 140px;
    }
    input[type="radio"] + label span
    {
        display: inline-block;
        float: right;
        width: 18px;
        height: 18px;
        margin-left: 15px;
        background: url('../../../../images/themes/blue/input_radio_unchecked.png') no-repeat center;
        background-size: contain;
        cursor: pointer;
    }
    input[type="radio"]:checked + label span
    {
        background: url('../../../../images/themes/blue/input_radio_checked.png') no-repeat center;
        background-size: contain;
        cursor: pointer;
    }

    .selectric_label
    {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

}