{% extends 'AirSimSocialNetworkBundle:blue/Layouts:inner.html.twig' %}

{% block pageStylesheets %}
{% endblock pageStylesheets %}

{% block pageJavaScripts %}
{% endblock pageJavaScripts %}

{% block pageContent %}
    <div class = "error_page_content_wrapper">
        Sorry, but requested page does not exist or you do not have privilege to access it!
    </div>
{% endblock pageContent %}
