{% extends 'AirSimSocialNetworkBundle:blue/Layouts:inner.html.twig' %}

{% block pageStylesheets %}
    {% stylesheets filter='yui_css' filter='cssrewrite' output='assets/css/blue/responsive/minified/options_min.css'
        'bundles/airsimsocialnetwork/css/blue/responsive/options/options_1920.css'
    %}
     <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}

{% endblock pageStylesheets %}

{% block pageJavaScripts %}
    <script type="text/javascript">require(['blue/options'])</script>
{% endblock pageJavaScripts %}

{% block pageContent %}
<div class = "options_wrapper">
    <nav id = "options_tabs" class = "tabs_nav options_nav">
        <ul>
            <li class = "active" tab = "private_tab">Private</li>
            <li tab = "synchronization_tab">Synchronization</li>
            <li tab = "safety_tab">Safety</li>
            <li tab = "personal_data_tab">Personal data</li>
        </ul>
        <div class = "clear"></div>
    </nav>
    <div id = "options_tabs_content" class = "tabs_content">
        <div class = "options_content tab" id = "private_tab">
            <section class = "options_configuration">
                <div class = "options_header">Private settings:</div><div class = "clear"></div>
                <div class = "ajax_wait hidden changing_config">Please wait. Changing configuration parameter...</div>
                <label for = "phone_visibility">Phone number is visible to:</label>
                <select id = "phone_visibility" data-alias = "PRIVATE_PHONE_VISIBILITY" class = "config_select">
                    <option value = "0">all</option>
                    <option value = "1">friends only</option>
                </select><br/>

                <label for = "additional_info_visibility">Additional info is visible to:</label>
                <select id = "additional_info_visibility" data-alias = "PRIVATE_ADDITIONAL_INFO_VISIBILITY" class = "config_select">
                    <option value = "0">all</option>
                    <option value = "1">friends only</option>
                </select><br/>

                <label for = "friends_visibility">Friends are visible to:</label>
                <select id = "friends_visibility" data-alias = "PRIVATE_FRIENDS_VISIBILITY" class = "config_select">
                    <option value = "0">all</option>
                    <option value = "1">friends only</option>
                    <option value = "2">nobody</option>
                </select><br/>

                <label for = "search_by_phone_number">Allow search me by phone number:</label>
                <select id = "search_by_phone_number" data-alias = "PRIVATE_SEARCH_BY_PHONE_NUMBER" class = "config_select">
                    <option value = "1">yes</option>
                    <option value = "0">no</option>
                </select><br/>

                <label for = "sending_messages">Sending messages is allowed to:</label>
                <select id = "sending_messages" data-alias = "PRIVATE_SENDING_MESSAGES" class = "config_select">
                    <option value = "0">all</option>
                    <option value = "1">friends only</option>
                    <option value = "2">nobody</option>
                </select><br/>
            </section>
            <section class = "options_description">
                <article class = "tab_general_description">
                    Tab general description
                </article>
                <article class = "hovered_item_description">
                    Hovered item description
                </article>
            </section>
            <div class = "clear"></div>
        </div>
        <div class = "options_content tab hidden" id = "synchronization_tab">
            <section class = "options_configuration">
                <div class = "options_header">Synchronization settings:</div><div class = "clear"></div>
                <div class = "ajax_wait hidden changing_config">Please wait. Changing configuration parameter...</div>
                <label for = "phone_visibility">Automatic synchronization between phone and website:</label>
                <select id = "phone_visibility" data-alias = "SYNCHRONIZATION_AUTO_BETWEEN_PHONE_SITE" class = "config_select">
                    <option value = "0">phone number</option>
                    <option value = "1">phone number, N.F.</option>
                    <option value = "2">phone number, additional information</option>
                    <option value = "3">phone number, N.F., additional information</option>
                </select><br/>
            </section>
            <section class = "options_description">
                <article class = "tab_general_description">
                    Tab general description
                </article>
                <article class = "hovered_item_description">
                    Hovered item description
                </article>
            </section>
            <div class = "clear"></div>
        </div>
        <div class = "options_content tab hidden" id = "safety_tab">
            <section class = "options_configuration safety_configuration">
                <div class = "options_header">Change phone number:</div><div class = "clear"></div>
                <label for = "new_phone_number">New phone number:</label>
                <input type = "text" id = "new_phone_number"/><br/>
                <input type = "button" id = "get_confirmation_code" class = "stick_right width_auto" value = "Get confirmation code"/>
                <div class = "clear"></div>

                <label for = "confirmation_code">Confirmation code:</label>
                <input type = "text" id = "confirmation_code"/><br/>

                <input type = "button" id = "save_phone_number" class = "stick_right" value = "Save"/>
                <div class = "clear"></div>
            </section>
            <section class = "options_configuration safety_configuration second">
                <div class = "options_header">Change password:</div><div class = "clear"></div>
                <label for = "old_password">Old password:</label>
                <input type = "text" id = "old_password"/><br/>

                <label for = "new_password">New password:</label>
                <input type = "text" id = "new_password"/><br/>

                <label for = "repeat_new_password">Repeat new password:</label>
                <input type = "text" id = "repeat_new_password"/><br/>

                <input type = "button" id = "save_password" class = "stick_right" value = "Save"/>
                <div class = "clear"></div>
            </section>
            <section class = "options_description safety_description">
                <article class = "tab_general_description">
                    Tab general description
                </article>
                <article class = "hovered_item_description">
                    Hovered item description
                </article>
            </section>
            <div class = "clear"></div>
        </div>
        <div class = "options_content tab hidden" id = "personal_data_tab">
            4
        </div>
    </div>
</div>
{% endblock pageContent %}