{% extends 'AirSimSocialNetworkBundle:blue/Layouts:inner.html.twig' %}

{% block pageStylesheets %}
    <link href = "{{ asset('assets/css/blue/options.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
{% endblock pageStylesheets %}

{% block pageJavaScripts %}
{% endblock pageJavaScripts %}

{% block pageContent %}
    <div class = "options_wrapper">
        <nav class = "tabs_nav options_nav">
            <ul>
                <a href = "./private">
                    <li class = "active">Private</li>
                </a>
                <a href = "./synchronization">
                    <li>Synchronization</li>
                </a>
                <a href = "./safety">
                    <li>Safety</li>
                </a>
                <a href = "./personal">
                    <li>Personal data</li>
                </a>
            </ul>
            <div class = "clear"></div>
        </nav>
        <div class = "options_content">
            <section class = "options_configuration">
                <div class = "options_header">Private settings:</div><div class = "clear"></div>
                <label for = "phone_visibility">Phone is visible to:</label>
                <select id = "phone_visibility">
                    <option>all</option>
                    <option>friends only</option>
                </select><br/>

                <label for = "search_by_phone_number">Allow search me by phone number:</label>
                <select id = "search_by_phone_number">
                    <option>yes</option>
                    <option>no</option>
                </select><br/>

                <label for = "additional_info_visibility">Show additional info to:</label>
                <select id = "additional_info_visibility">
                    <option>all</option>
                    <option>friends only</option>
                </select><br/>

                <label for = "friends_visibility">My friends are visible to:</label>
                <select id = "friends_visibility">
                    <option>friends only</option>
                    <option>nobody</option>
                </select><br/>
            </section>
            <section class = "options_description">
                <article class = "tab_general_description">
                    Tab general description
                </article>
                <article class = "hovered_item_description">
                    Hovered item description
                </article>
            </section>
            <div class = "clear"></div>
        </div>
    </div>
{% endblock pageContent %}